@font-face {
  font-family: "Hack";
  src: url("fonts/Hack-Regular.ttf");
}

html {
  background-color: #000000;
}

.gfx-area-header {
  position: absolute;
  font-size: 50px;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: #009DDE;
  height: 10%;
  display: inline-block;
}

.gfx-area-header-image {
  width: 40%;
  height: 60%;
  margin: auto;
  margin-top: 3%;
}

#gfx-area {
  font-family: "Hack";
  position: absolute;
  right: 0;
  top: 0;
  height: 74%;
  width: 23%;
  color: #000000;
  background-color: #FFFFFF;
  border: 3px solid #555555;
}

#htmlconsole {
  font-family: "Hack";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #00AA00;
  font-size: 12px;
}

.article {
  position: relative;
  top: 12%;
  left: 4%;
  right: 35%;
  height: 90px;
  font-size: 13px;
  width: 63%;
  font-family: "Arial";
  font-weight: bold;
}

#image-component {
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  width: 30%;
}

.article-image {
  background-color: #999999;
  background-image: url("img/yle_placeholder.gif");
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 2px;
  padding: 0;
  width: 100%;
  height: 90px;
}

.timestamp-paragraph {
  font-size: 11;
  color: #444444;
  font-weight: normal;
}
